<button (click)="showUserForm = !showUserForm " class="btn btn-dark mb-3 ">
    addUser </button>
<div class="card card-body mb-3 " *ngIf="showUserForm">
    <h2> Add User </h2>
    <form #userForm="ngForm" (ngSubmit)="OnSubmit(userForm)">
        <div class="form-group mb-3">
            <label>Prenom </label>
            <input type="text" [(ngModel)]="user.prenomPersonnel" [ngClass]="{ 'is-invalid':userPrenomPersonnel.errors &&
               userPrenomPersonnel.touched   }" class="form-control" name="prenomPersonnel"
                #userPrenomPersonnel="ngModel" required minlength="2">
            <div [hidden]="!userPrenomPersonnel.errors?.required" class="invalid-feedback">
                First name arequired a sidiii
            </div>
            <div [hidden]="!userPrenomPersonnel.errors?.minlength" class="invalid-feedback">
                zouj kalmat lfo9
            </div>
        </div>

        <div class="form-group mb-3">
            <label>Nom</label>
            <input type="text" [(ngModel)]="user.nomPersonnel" class="form-control" name="NomPersonnel">
        </div>
        <div class="form-group mb-3">
            <label>Email</label>
            <input type="text" [(ngModel)]="user.mailPersonnel" [ngClass]="{ 'is-invalid':userMailPersonnel.errors &&
              userMailPersonnel.touched   }" class="form-control" name="mailPersonnel" #userMailPersonnel="ngModel"
                required
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div [hidden]="!userMailPersonnel.errors?.required" class="invalid-feedback">
                email arequired a sidiii
            </div>
            <div [hidden]="!userMailPersonnel.errors?.pattern" class="invalid-feedback">
                9olna email a *****
            </div>

        </div>

        <button [disabled]="!userForm.form.valid " class="btn btn-block mb-3"> Add new user </button>
    </form>
</div>








<ul class="list-unstyled">

    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive">



        <h3>{{ user.prenomPersonnel }} {{  user.nomPersonnel  }} <button (click)="user.hide = !user.hide"
                class="btn btn-dark btn-sm"> <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus' "> </i>
            </button> </h3>

        <ul *ngIf="!user.hide ">

            <li class="list-group-item">email: {{ user.mailPersonnel }} </li>
            <li class="list-group-item">registered: {{ user.registered | date }} </li>


        </ul>



    </li>
</ul>